<div class="container mt-5">
    <div class="row" *ngIf="successmsg; else nojobsmessage">
        
        <table class="table" >
            <thead class="bg-info">
                <tr>
                    <th *ngFor="let key of headers">{{key}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let job of applied" >
                    <td>{{job.recruiterCompanyName}}</td>
                    <td>{{job.jobRole}}</td>
                    <td>{{job.jobType}}</td>
                    <td >{{job.expRequired}}</td>
                    <td><button class="btn btn-success" style="width:100%;height:auto;border-radius: 45px;"
                            disabled>Applied</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <ng-template #nojobsmessage>
        <div class="text-center">
            <h3>{{nojobs}}</h3>
        </div>
    </ng-template>
    <!-- <router-outlet></router-outlet> -->
</div>